Repository jimmy058910/replitballgame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npx tsc --noEmit --skipLibCheck"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": [
    "prettier --write"
  ]
}

Correct team records based on actual game results
  server/routes/correctStandingsRoutes.ts
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Refine league standings calculation for accuracy
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update deployment configuration to use corrected environment variable syntax
  cloudbuild-deployment.yaml
  debug-api-routing.js
  debug-automation.js
  debug-database-discrepancy.js
  debug-late-signup.js
  gcp-dependency-test-results.json
  simple-test.js
  temp_token.txt
  test-api-direct.js
  test-day-advancement.js
  test-dynamic-late-signup.js
  test-schedule-direct.js
  test-simulation.js
  test_add_ai_teams.js
  test_auth_debug.js
Due: prettier --write

Optimize Docker build process and cloud deployment settings
  Dockerfile.step7-unified
  cloudbuild-deployment.yaml
Due: none

Update deployment configuration to include all environment variables
  cloudbuild-deployment.yaml
Due: none

Update deployment to use separate secrets for sensitive environment variables
  cloudbuild-deployment.yaml
Due: none

Update deployment configuration to remove unnecessary port setting
  cloudbuild-deployment.yaml
Due: none

Update build pipeline to use newer Node.js version and improve dependency analysis
  cloudbuild-dependency-update.yaml
  replit.md
  scripts/dependency-analyzer.js
  scripts/github-pr-creator.js
Due: prettier --write

Update scripts to use modern import syntax for Node.js
  scripts/dependency-analyzer.js
  scripts/github-pr-creator.js
  scripts/security-scanner.js
Due: prettier --write

Add endpoint to completely recalculate all team standings
  server/routes/correctStandingsRoutes.ts
  server/routes/fixStandingsCompletely.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Enhance stadium revenue calculations and item purchasing logic
  server/routes/inventoryRoutes.ts
  server/routes/stadiumAtmosphereRoutes.ts
  server/routes/storeRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix inventory display issues and improve data fetching
  client/src/pages/Market.tsx
  server/routes/inventoryRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Recalculate league standings based on specific game days
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve calculation of games played for team standings accuracy
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Ensure accurate game counts for team standings calculations
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add security scanning to the deployment process
  cloudbuild-deployment.yaml
Due: none

Integrate real-time communication capabilities for enhanced user interaction
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add automated tournament filling and status retrieval
  server/domains/tournaments/service.ts
  server/routes/tournamentRoutes.ts
  server/services/dailyTournamentAutoFillService.ts
  server/services/seasonTimingAutomationService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Enhance tournament viewing with bracket and details functionality
  client/src/components/ComprehensiveCompetitionCenter.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve tournament data handling and API functionality
  server/routes/newTournamentRoutes.ts
  server/routes/tournamentStatusRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add countdown timer for tournament start and force fill
  server/routes/tournamentRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update timer to dynamically calculate remaining registration time
  client/src/components/ComprehensiveCompetitionCenter.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Display registered team names and tournament IDs in competition details
  client/src/components/ComprehensiveCompetitionCenter.tsx
  server/routes/tournamentRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Restore timers for tournaments with existing registration end times
  server/routes/tournamentRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add direct loading for live match components and initialize state from simulation logs
  client/src/App.tsx
  client/src/components/EnhancedMatchEngine.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Created a checkpoint
  client/src/components/ComprehensiveCompetitionCenter.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve live match display by using basic data while waiting for full details
  client/src/components/EnhancedMatchEngine.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve match display by handling simulated and completed states gracefully
  client/src/components/EnhancedMatchEngine.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve live match simulation loading and initialization logic
  client/src/components/EnhancedMatchEngine.tsx
  client/src/components/LiveMatchPage.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve live match loading by ensuring all data is correctly initialized
  client/src/components/EnhancedMatchEngine.tsx
  client/src/components/LiveMatchPage.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve live match updates and remove debug logs
  client/src/components/EnhancedMatchEngine.tsx
  client/src/components/LiveMatchPage.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Replace visual match engine with text-based viewer and update simulation logic
  client/src/components/EnhancedMatchEngine.tsx
  client/src/components/LiveMatchPage.tsx
  client/src/components/TextBasedMatchViewer.tsx
  client/src/pages/LiveMatchTest.tsx
  server/services/liveMatchEngine.ts
  server/services/matchSimulation.ts
  shared/types/LiveMatchState.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve fantasy sports match simulation and visualization components
  client/src/components/EnhancedMatchSimulation.tsx
  client/src/components/EnhancedPostMatchSummary.tsx
  client/src/components/RealmRivalry2DMatchEngine.tsx
  client/src/stores/enhancedMatchStore.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Ensure teams are correctly loaded for existing users
  prisma/generated/client/edge.js
  prisma/generated/client/index.js
  server/storage/teamStorage.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Enhance team data retrieval to include related financial and stadium information
  server/storage/teamStorage.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve display of financial and transaction data for teams
  client/src/components/EnhancedFinancesTab.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve initial loading of live match data to prevent connection issues
  client/src/components/TextBasedMatchViewer.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix error when displaying match viewer by initializing required data structures
  client/src/components/TextBasedMatchViewer.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Enhance live match display with team names and real-time game data
  client/src/components/TextBasedMatchViewer.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update match viewer to always show live status and improve field display
  client/src/components/TextBasedMatchViewer.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write
