Repository jimmy058910/replitballgame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve match simulation speed by removing manual client-side time advancement
  client/src/components/TextBasedMatchViewer.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update team header to display correct win-draw-loss record
  client/src/components/UnifiedTeamHeader.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add script to check tournament progress and history
  server/check_tournaments.js
  server/check_tournaments.mjs
Due: prettier --write

Add tools to resolve stuck tournament registrations
  server/find_stuck_registration.mjs
  server/routes/cleanupTournamentRoutes.ts
  server/routes/index.ts
  server/routes/simpleCleanupRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Make live match viewing accessible to all users
  client/src/App.tsx
  client/src/components/LiveMatchPage.tsx
  client/src/components/TextBasedMatchViewer.tsx
  server/routes/matchRoutes.ts
  server/routes/teamRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Ensure live match updates are sent to all connected clients
  server/services/liveMatchEngine.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add detailed debugging logs for WebSocket communication
  client/src/websocket/webSocketManager.ts
  server/websocket/webSocketManager.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve match viewer by delaying WebSocket match join until connection is established
  client/src/components/TextBasedMatchViewer.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Ensure live match updates are broadcast to all connected clients reliably
  server/services/liveMatchEngine.ts
  server/websocket/webSocketManager.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve match simulation stability and broadcast efficiency
  server/services/liveMatchEngine.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve match simulation stability and prevent infinite loops
  server/services/liveMatchEngine.ts
  server/services/matchStateManager.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Revise match simulation to use dynamic event pacing for realism
  server/services/liveMatchEngine.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve live match simulation and player statistics tracking
  .replit
  server/services/liveMatchEngine.ts
  server/services/newMatchEngine.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve live match simulation reliability and error handling
  server/services/liveMatchEngine.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update match viewer to fetch and display live simulation data
  client/src/components/TextBasedMatchViewer.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix issues with match simulation status and player data display
  client/src/components/TextBasedMatchViewer.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve real-time match updates for better performance
  client/src/components/TextBasedMatchViewer.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add debugging to view match event and data loading issues
  client/src/components/TextBasedMatchViewer.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix live match simulation and display issues
  client/src/components/TextBasedMatchViewer.tsx
  server/services/liveMatchEngine.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve live match simulation by integrating a 2D viewer
  .replit
Due: none

Implement quick match simulation system with comprehensive game mechanics
  server/routes/matchRoutes.ts
  server/services/quickMatchSimulation.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update project configuration to correctly integrate key features
  .replit
Due: none

Improve match simulation speed and realism
  .replit
  NEW_MATCH_SYSTEM_SPEC.md
Due: prettier --write

Post-Recovery checkpoint
  .replit
Due: none

Integrate websocket and database tools into the project setup
  .replit
Due: none

Update application startup configuration for development
  .replit
Due: none

Update port configurations for application services
  .replit
Due: none

Update project configuration to properly enable database and websocket integrations
  .replit
Due: none

Replace live match simulations with instant match completions
  server/routes/dailyTournamentRoutes.ts
  server/routes/exhibitionRoutes.ts
  server/routes/matchRoutes.ts
  server/routes/tournamentStatusRoutes.ts
  server/services/seasonTimingAutomationService.ts
  server/services/unifiedTournamentAutomation.ts
  server/services/webSocketService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Transition to instant match simulations and remove live match controls
  server/routes/demoRoutes.ts
  server/routes/enhancedMatchRoutes.ts
  server/routes/index.ts
  server/routes/liveMatchRoutes.ts
  server/routes/matchRoutes.ts
  server/routes/superuserRoutes.ts
  server/routes/tournamentFixRoutes.ts
  server/services/commentaryService.ts
  server/services/liveMatchEngine.ts
  server/services/matchSimulation.ts
  server/services/matchStateManager.ts
  server/services/newCommentaryService.ts
  server/services/newMatchEngine.ts
  server/services/tournamentFlowService.ts
  server/services/tournamentRecoveryService.ts
  server/services/webSocketService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve tournament auto-fill with timer recovery and data validation
  .replit
  server/services/dailyTournamentAutoFillService.ts
  server/services/seasonTimingAutomationService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update tournament timer logic to correctly display registration status
  server/routes/tournamentRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add manual trigger for tournament auto-fill and adjust round delay
  .replit
  server/services/dailyTournamentAutoFillService.ts
  server/services/unifiedTournamentAutomation.ts
  trigger_autofill.mjs
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve AI team generation for tournaments by using existing teams first
  manual-trigger.mjs
  server/services/dailyTournamentAutoFillService.ts
  simple-trigger.mjs
  trigger-autofill.mjs
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update project configuration to correctly integrate websocket functionality
  .replit
Due: none

Add tools to manage and fix game and tournament data
  .replit
  server/routes/adminRoutes.ts
  server/routes/index.ts
  server/utils/matchStatusFixer.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update tournament statuses to include ongoing and registration open states
  client/src/components/ComprehensiveCompetitionCenter.tsx
  server/routes/tournamentRoutes.ts
  server/storage/tournamentStorage.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add ability to generate tournament brackets and fix routing
  client/src/App.tsx
  client/src/providers/AuthProvider.tsx
  server/routes/adminRoutes.ts
  server/utils/manualGameCreator.js
  server/utils/tournamentBracketGenerator.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add ability to view tournament brackets and game details
  .replit
  server/routes/tournamentRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npx tsc --noEmit --skipLibCheck: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
