Repository jimmy058910/replitballgame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npx tsc --noEmit --skipLibCheck"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": [
    "prettier --write"
  ]
}

Improve startup probe and health check reliability for deployment
  .github/workflows/blue-green-deploy.yml
  server/health.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve container startup reliability and build process
  Dockerfile.backend
  server/health.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Adjust startup probe timing for better container readiness
  .github/workflows/blue-green-deploy.yml
  server/health.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Adjust port binding to properly use environment variables
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update backend container configuration for cloud deployment
  Dockerfile.backend
Due: none

Update deployment configuration to use dynamic port assignments
  .github/workflows/blue-green-deploy.yml
  temp_deployment_trigger_fix.txt
Due: none

Enhance container startup reliability for smoother deployments
  .github/workflows/blue-green-deploy.yml
  temp_deployment_trigger_comprehensive_fix.txt
Due: none

Improve container startup by adding detailed debugging logs
  Dockerfile.backend
  temp_nuclear_container_debug.txt
Due: none

Improve container security and startup process
  Dockerfile.backend
Due: none

Verify critical server files are present in the production container
  Dockerfile.backend
Due: none

Update project imports to use ES module syntax with .js extensions
  fix-imports.cjs
  server/domains/index.ts
  server/index.ts
  server/middleware/applyCache.ts
  server/routes/index.ts
  server/services/camaraderieService.ts
  server/services/commentaryService.ts
  server/services/lateSignupService.ts
  server/services/matchSimulation.ts
  server/services/matchStateManager.ts
  server/services/playerContractInitializer.ts
  server/services/rbacService.ts
  server/services/seasonTimingAutomationService.ts
  server/services/seasonalFlowService.ts
  server/services/tournamentRecoveryService.ts
  server/services/tournamentService.ts
  server/storage/cachedPlayerStorage.ts
  server/storage/cachedTeamStorage.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update file imports to use .js extension for server modules
  server/domains/auth/index.ts
  server/domains/auth/routes.ts
  server/domains/auth/service.ts
  server/domains/core/index.ts
  server/domains/economy/index.ts
  server/domains/economy/routes.ts
  server/domains/economy/service.ts
  server/domains/matches/index.ts
  server/domains/matches/routes.ts
  server/domains/matches/service.ts
  server/domains/tournaments/index.ts
  server/domains/tournaments/routes.ts
  server/domains/tournaments/service.ts
  server/googleAuth.ts
  server/index.ts
  server/storage/cachedUserStorage.ts
  server/storage/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update file imports to correctly reference JavaScript modules
  server/db.ts
  server/replitAuth.ts
  server/services/webSocketService.ts
  server/storage.ts
  server/utils/enhancedStadium.ts
  server/utils/security.ts
  server/utils/securityValidator.ts
  server/utils/stadiumEffects.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update file imports to include extensions for smoother startup
  server/middleware/security.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update imports to use file extensions for better compatibility
  server/db.ts
  server/domains/auth/service.ts
  server/domains/economy/routes.ts
  server/domains/economy/service.ts
  server/domains/matches/routes.ts
  server/domains/matches/service.ts
  server/domains/tournaments/routes.ts
  server/domains/tournaments/service.ts
  server/routes/authRoutes.ts
  server/routes/marketplaceRoutes.ts
  server/routes/playerRoutes.ts
  server/routes/staffRoutes.ts
  server/routes/teamRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update import paths and type assertions for better code consistency
  server/routes/adSystemRoutes.ts
  server/routes/camaraderieRoutes.ts
  server/routes/careerHighlightsRoutes.ts
  server/routes/dataVisualizationRoutes.ts
  server/routes/injuryRoutes.ts
  server/routes/injuryStaminaRoutes.ts
  server/routes/inventoryRoutes.ts
  server/routes/leagueMatchesRoutes.ts
  server/routes/leagueRoutes.ts
  server/routes/notificationRoutes.ts
  server/routes/paymentHistoryRoutes.ts
  server/routes/paymentRoutes.ts
  server/routes/referralRoutes.ts
  server/services/seasonalFlowService.ts
  server/services/tournamentService.ts
  server/services/unifiedTournamentAutomation.ts
  server/storage/teamStorage.ts
  server/storage/tournamentStorage.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update imports to point to generated Prisma client
  server/database.ts
  server/db.ts
  server/services/seasonalFlowService.ts
  server/services/tournamentService.ts
  server/services/unifiedTournamentAutomation.ts
  server/simple-db-test.ts
  server/storage/playerStorage.ts
  server/storage/teamFinancesStorage.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix deployment issues by including necessary generated files
  Dockerfile.backend
Due: none

Strengthen database connection security and verification
  Dockerfile.backend
  server/db.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update file imports to use correct JavaScript extensions
  server/health.ts
  server/routes/leagueRoutes.ts
  server/routes/ndaRoutes.ts
  server/routes/seasonRoutes.ts
  server/services/agingService.ts
  server/services/awardsService.ts
  server/services/comprehensivePlayerProgressionService.ts
  server/services/contractService.ts
  server/services/dailyPlayerProgressionService.ts
  server/services/injuryStaminaService.ts
  server/services/liveMatchEngine.ts
  server/services/matchSimulation.ts
  server/services/matchStateManager.ts
  server/services/notificationService.ts
  server/services/paymentHistoryService.ts
  server/services/playerAgingRetirementService.ts
  server/services/stadiumAtmosphereService.ts
  server/services/statsService.ts
  server/services/teamNameValidation.ts
  server/services/tournamentBracketValidator.ts
  server/services/tournamentFlowService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve server startup to correctly handle module paths
  Dockerfile.backend
  package-lock.json
  package.json
Due: prettier --write

Update server configuration for cloud deployment and import paths
  server/index.ts
  server/routes/cacheRoutes.ts
  server/services/lateSignupService.ts
  server/services/seasonTimingAutomationService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve server health checks to ensure reliable operation
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update build process and dependencies for improved server compilation
  Dockerfile.backend
  package-lock.json
  package.json
Due: prettier --write

Update build process to correctly compile server code
  Dockerfile.backend
Due: none

Update project to use modern JSON import syntax for configurations
  server/routes/leagueRoutes.ts
  server/routes/storeRoutes.ts
  server/services/leagueService.ts
  shared/abilities.ts
  shared/names.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update deployment to use automatic port selection for services
  .github/workflows/blue-green-deploy.yml
Due: none

Improve deployment reliability and resource allocation
  .github/workflows/blue-green-deploy.yml
  Dockerfile.backend
  temp_comprehensive_deployment_analysis.txt
Due: none

Provide instructions for accessing cloud logs to aid troubleshooting
  .github/workflows/blue-green-deploy.yml
  temp_gcp_logs_access.txt
Due: none

Align deployment with actual secret names and improve memory handling
  .github/workflows/blue-green-deploy.yml
  temp_final_fix_summary.txt
  temp_secret_fix_analysis.txt
Due: none

Update secret names for cloud deployment to match system requirements
  .github/workflows/blue-green-deploy.yml
  temp_verified_secret_mapping.txt
Due: none

Clarify secret management and adjust deployment startup probes
  .github/workflows/blue-green-deploy.yml
  SECRET_MAPPING_REFERENCE.md
  temp_deployment_debug_commands.txt
  temp_deployment_timeout_analysis.txt
Due: prettier --write

Add missing timezone data and adjust deployment startup settings
  shared/timezones.json
  temp_comprehensive_deployment_analysis.txt
Due: prettier --write

Update backend to ensure compatibility and fix import syntax
  Dockerfile.backend
  server/routes/paymentRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update imports and Docker configuration for consistency
  Dockerfile.backend
  server/routes/demoRoutes.ts
  server/routes/enhancedMatchRoutes.ts
  server/routes/exhibitionRoutes.ts
  server/routes/leagueRoutes.ts
  server/routes/seasonRoutes.ts
  server/routes/stadiumAtmosphereRoutes.ts
  server/routes/stadiumRoutes.ts
  server/routes/subdivisionTestRoutes.ts
  server/routes/systemRoutes.ts
  server/routes/teamRoutes_backup.ts
  server/routes/tournamentRoutes.ts
  server/services/dailyPlayerProgressionService.ts
  server/services/enhancedGameEconomyService.ts
  server/services/leagueService.ts
  server/services/matchStateManager.ts
  server/services/playerSkillsService.ts
  server/services/seasonTimingAutomationService.ts
  server/services/seasonalFlowService.ts
  server/websocket/webSocketManager.ts
  temp_docker_user_fix.txt
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Optimize deployment process to reduce build times and timeouts
  .github/workflows/blue-green-deploy.yml
  scripts/deployment-strategy-guide.md
  scripts/fast-deploy-test.sh
  scripts/local-docker-test.sh
Due: prettier --write

Stabilize deployments by migrating to a more reliable cloud region and optimizing resources
  .github/workflows/blue-green-deploy.yml
  scripts/migration-checklist.md
Due: prettier --write
