Repository jimmy058910/replitballgame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npx tsc --noEmit --skipLibCheck"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": [
    "prettier --write"
  ]
}

Resolve numerous project-wide TypeScript errors and improve data handling
  docs/PHASE_4_PLAN.md
  server/domains/matches/service.ts
  server/storage/matchStorage.ts
  server/storage/paymentStorage.ts
  server/storage/tournamentStorage.ts
  server/utils/sanitize.ts
  shared/deterministicSimulation.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Address numerous TypeScript errors and update project dependencies
  package-lock.json
  package.json
Due: prettier --write

Fix type errors in various components for improved stability
  client/src/components/EnhancedLoadingWrapper.tsx
  client/src/components/EnhancedMarketplace.tsx
  client/src/components/EnhancedMatchEngine.tsx
  client/src/components/GameSimulationUI.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Prevent automatic deployment from bot contributions
  .github/workflows/blue-green-deploy.yml
Due: none

Refine simulation data and logging for improved match accuracy
  server/db.ts
  server/routes/demoRoutes.ts
  server/routes/marketplaceRoutes.ts
  server/services/matchStateManager.ts
  server/services/tournamentService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve game simulation and player attribute handling
  client/src/components/EnhancedMatchEngine.tsx
  client/src/components/GameSimulationUI.tsx
  client/src/components/HalftimeAd.tsx
  client/src/components/MicroInteractions.tsx
  client/src/components/UnifiedInventoryHub.tsx
  client/src/components/VirtualizedList.tsx
  server/routes/awardsRoutes.ts
  server/routes/demoRoutes.ts
  server/routes/leagueRoutes.ts
  server/services/comprehensivePlayerProgressionService.ts
  server/services/contractService.ts
  server/services/enhancedGameEconomyService.ts
  server/services/enhancedMarketplaceService.ts
  server/services/errorService.ts
  server/services/injuryStaminaService.ts
  server/services/lateSignupService.ts
  server/services/liveMatchEngine.ts
  server/services/matchSimulation.ts
  server/services/matchStateManager.ts
  server/services/seasonalFlowService.ts
  server/services/tournamentService.ts
  shared/types/api.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve data handling and type safety across the application
  client/src/components/EnhancedMarketplace.tsx
  client/src/components/StaffReleaseConfirmation.tsx
  client/src/components/optimized/PaginatedList.tsx
  client/src/pages/MarketDistrict.tsx
  client/src/pages/Stats.tsx
  client/src/pages/TournamentStatus.tsx
  server/routes/dynamicMarketplaceRoutes.ts
  server/services/camaraderieService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Eliminate 141+ TypeScript errors - massive compliance improvement
  server/routes/dynamicMarketplaceRoutes.ts
  temp_git_trigger.txt
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve TypeScript accuracy by fixing many errors and enhancing system stability
  README.md
  TYPESCRIPT_IMPROVEMENTS.md
  server/services/camaraderieService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Updated package-lock.json
  package-lock.json
Due: prettier --write

Update player attributes and adjust game logic for better balance
  server/routes/demoRoutes.ts
  server/routes/tournamentRewardRoutes.ts
  server/services/dynamicMarketplaceService.ts
  server/services/enhancedGameEconomyService.ts
  server/services/lateSignupService.ts
  server/services/playerAgingRetirementService.ts
  server/services/seasonalFlowService.ts
  server/services/tournamentService.ts
  server/storage/injuryStorage.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Refine game logic and data handling for matches and tournaments
  server/routes/matchRoutes.ts
  server/routes/paymentRoutes.ts
  server/services/dynamicMarketplaceService.ts
  server/services/playerAgingRetirementService.ts
  server/services/seasonalFlowService.ts
  server/services/tournamentService.ts
  server/services/unifiedTournamentAutomation.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Refine player injury, matchmaking, and AI player generation logic
  server/routes/enhancedMatchRoutes.ts
  server/routes/equipmentRoutes.ts
  server/routes/exhibitionRoutes.ts
  server/routes/injuryRoutes.ts
  server/routes/injuryStaminaRoutes.ts
  server/routes/leagueRoutes.ts
  server/routes/liveMatchRoutes.ts
  server/routes/marketplaceRoutes.ts
  server/routes/matchRoutes.ts
  server/routes/newTournamentRoutes.ts
  server/routes/notificationRoutes.ts
  server/routes/paymentHistoryRoutes.ts
  server/routes/paymentRoutes.ts
  server/routes/playerAgingRetirementRoutes.ts
  server/routes/scoutingRoutes.ts
  server/routes/seasonRoutes.ts
  server/routes/seasonalFlowRoutes.ts
  server/routes/shareableMomentsRoutes.ts
  server/services/tournamentService.ts
  shared/types/api.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Refine team and tournament mechanics for better gameplay
  server/routes/authRoutes.ts
  server/routes/superuserRoutes.ts
  server/routes/teamRoutes_fixed.ts
  server/routes/tournamentRewardRoutes.ts
  server/routes/tournamentRoutes.ts
  server/routes/tournamentStatusRoutes.ts
  server/routes/tryoutRoutes.ts
  server/routes/worldRoutes.ts
  server/services/awardsService.ts
  server/services/contractService.ts
  server/services/dailyPlayerProgressionService.ts
  server/services/dynamicMarketplaceService.ts
  server/services/enhancedGameEconomyService.ts
  server/services/enhancedMarketplaceService.ts
  server/services/lateSignupService.ts
  server/services/matchSimulation.ts
  server/services/matchStateManager.ts
  server/services/notificationService.ts
  server/services/playerAgingRetirementService.ts
  server/services/playerContractInitializer.ts
  server/services/playerSkillsService.ts
  server/services/rbacService.ts
  server/services/seasonTimingAutomationService.ts
  server/services/seasonalFlowService.ts
  server/services/tournamentFlowService.ts
  server/services/tournamentMatchService.ts
  server/services/webSocketService.ts
  server/utils/cacheIntegration.ts
  shared/deterministicSimulation.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Refine tournament and game scheduling logic
  server/routes/superuserRoutes.ts
  server/services/seasonalFlowService.ts
  server/services/sentryService.ts
  server/services/statsService.ts
  server/services/tournamentBracketValidator.ts
  server/services/tournamentFlowService.ts
  server/services/tournamentRecoveryService.ts
  server/services/tournamentService.ts
  server/services/webSocketService.ts
  server/storage/consumableStorage.ts
  server/storage/leagueStorage.ts
  server/storage/notificationStorage.ts
  server/storage/paymentStorage.ts
  server/storage/scoutingStorage.ts
  server/storage/teamStorage.ts
  server/storage/tournamentStorage.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update game mechanics and resolve data inconsistencies
  server/services/awardsService.ts
  server/services/commentaryService.ts
  server/services/enhancedGameEconomyService.ts
  server/services/matchSimulation.ts
  server/services/matchStateManager.ts
  server/services/paymentHistoryService.ts
  server/services/playerAgingRetirementService.ts
  server/services/seasonTimingAutomationService.ts
  server/services/seasonalFlowService.ts
  server/services/stadiumAtmosphereService.ts
  server/services/tournamentService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Refine stadium economic calculations and improve system stability
  server/utils/enhancedStadium.ts
  server/utils/securityValidator.ts
  shared/deterministicSimulation.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Enhance platform with AI team creation and improve user role management
  prisma/schema.prisma
  server/routes/seasonRoutes.ts
  server/routes/seasonalFlowRoutes.ts
  server/routes/stadiumAtmosphereRoutes.ts
  server/routes/stadiumRoutes.ts
  server/routes/staffRoutes.ts
  server/routes/storeRoutes.ts
  server/routes/superuserRoutes.ts
  server/routes/teamRoutes_fixed.ts
  server/routes/testRoutes.ts
  server/services/tournamentService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update dependencies to improve platform stability and features
  package-lock.json
Due: prettier --write

Improve data consistency and player generation logic
  server/routes/superuserRoutes.ts
  server/services/tournamentService.ts
  server/services/unifiedTournamentAutomation.ts
  server/storage/injuryStorage.ts
  server/storage/itemStorage.ts
  server/storage/matchStorage.ts
  server/storage/paymentStorage.ts
  server/storage/scoutingStorage.ts
  server/storage/staffStorage.ts
  server/storage/teamStorage.ts
  server/storage/tournamentStorage.ts
  server/utils/cacheIntegration.ts
  shared/deterministicSimulation.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Vite edit
  server/vite.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve deploy process by correctly identifying previous revision for rollbacks
  .github/workflows/blue-green-deploy.yml
Due: none

Improve user type definitions for authentication data
  types/express/index.d.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve type safety and request handling across the application
  server/middleware/adminAuth.ts
  server/middleware/requestId.ts
  server/routes/authRoutes.ts
  server/routes/tournamentRoutes.ts
  types/express/index.d.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Integrate error reporting for a smoother user experience
  client/src/components/AdIntegration.tsx
  client/src/components/ErrorBoundary.tsx
  client/src/main.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve server setup and authentication integration
  server/index.ts
  server/replitAuth.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Include type definitions in the backend build for better code organization
  Dockerfile.backend
Due: none

Update deployment to use correct database URL for production
  .github/workflows/blue-green-deploy.yml
  temp_deploy_trigger.txt
Due: none

Optimize server startup for production deployments
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve application startup logging and shutdown handling for cloud deployments
  Dockerfile.backend
  server/index.ts
  temp_deploy_trigger.txt
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Ensure service accounts can access necessary secrets for deployment
  .github/workflows/blue-green-deploy.yml
  debug-iam-permissions.sh
Due: none

Improve service startup checks for faster deployment
  .github/workflows/blue-green-deploy.yml
Due: none

Improve user session management for secure authentication
  server/googleAuth.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve server startup and health checks for cloud deployment
  .github/workflows/blue-green-deploy.yml
  Dockerfile.backend
  server/health.ts
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve server startup and port binding for cloud deployment
  server/index.ts
  temp_deploy_trigger.txt
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Clarify IAM setup for secure secret access during deployment
  .github/workflows/blue-green-deploy.yml
  temp_iam_fix_trigger.txt
Due: none

Improve server startup by handling authentication setup errors
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write
