Repository jimmy058910/replitballgame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npx tsc --noEmit --skipLibCheck"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": [
    "prettier --write"
  ]
}

Improve how team standings are calculated and displayed
  server/routes/teamRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve league standings calculation by expanding game completion criteria
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve standings calculation to automatically update after each completed game
  server/routes/index.ts
  server/routes/leagueRoutes.ts
  server/routes/matchRoutes.ts
  server/routes/teamRoutes.ts
  server/services/standingsUpdateService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve standings calculation by directly reading from database
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update league standings endpoint to improve data retrieval
  client/src/components/SeasonChampionships.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix incorrect standings data for the Oakland Cougars team
  server/routes/leagueRoutes.ts
  server/routes/teamRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Ensure real-time and accurate league standings display
  client/src/components/ComprehensiveCompetitionCenter.tsx
  client/src/components/LeagueStandings.tsx
  client/src/components/SeasonChampionships.tsx
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update standings to accurately reflect completed league games
  server/routes/dailyTournamentRoutes.ts
  server/routes/exhibitionRoutes.ts
  server/routes/leagueRoutes.ts
  server/routes/matchRoutes.ts
  server/routes/teamRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve the accuracy of calculating team standings and records
  server/routes/correctStandingsRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Correct fantasy sports standings for Division 7 Alpha teams
  fix-division7-alpha-standings.js
  server/routes/correctStandingsRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update standings calculation to filter by division and subdivision
  fix-division7-standings.js
  fix-division7-standings.mjs
  server/routes/correctStandingsRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add debug endpoints and improve standings calculation logic
  server/routes/correctStandingsRoutes.ts
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Expand standings correction to all divisions and subdivisions
  server/routes/correctStandingsRoutes.ts
  server/routes/index.ts
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix scheduling issues for Division 7 Alpha games
  server/routes/adminRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add administrative tools to advance tournaments and check game data
  server/routes/adminRoutes.ts
  server/services/unifiedTournamentAutomation.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Correct league standings to only include league matches
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update standings calculation to include playoff games
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix issue where tournament games affected league standings incorrectly
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add ability to manually start tournament rounds for administrators
  server/routes/adminRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Correctly include playoff games in league standings calculation
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Automate tournament progression and completion entirely
  server/index.ts
  server/services/unifiedTournamentAutomation.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix incorrect game classifications to restore proper data integrity
  server/routes/adminRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update tournament status to reflect active progression
  server/services/unifiedTournamentAutomation.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update documentation to reflect project overview and development practices
  replit.md
Due: prettier --write

Major developments and file cleanup
  .claude/settings.local.json
  CLAUDE.md
  README-ORGANIZATION.md
  README.md
  REALM_RIVALRY_COMPLETE_DOCUMENTATION.md
  client/src/components/ContractManagement.tsx
  client/src/pages/Scouting.tsx
  client/src/utils/gameTimeUtils.ts
  github_integration_steps.md
  prisma/schema.prisma
  replit.md
  server/config/game_config.json
  server/routes/leagueRoutes.ts
  server/routes/scoutingRoutes.ts
  server/routes/seasonRoutes.ts
  server/routes/tryoutRoutes.ts
  server/services/advancedTacticalEffectsService.ts
  server/services/comprehensivePlayerProgressionService.ts
  server/services/contractService.ts
  server/services/dailyPlayerProgressionService.ts
  server/services/dynamicPlayoffService.ts
  server/services/quickMatchSimulation.ts
  server/services/seasonTimingAutomationService.ts
  server/services/seasonalFlowService.ts
  server/services/statsService.ts
  server/services/tournamentService.ts
  server/storage/teamStorage.ts
  server/utils/gameTimeUtils.ts
  shared/tacticalSystem.ts
  shared/types/LiveMatchState.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix missing EnhancedPostMatchSummary import causing build failure
  client/src/components/GameSimulationUI.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix Dockerfile server build process
  Dockerfile.step7-unified
Due: none

Second comprehensive TypeScript and Prisma fixes
  server/middleware/proxyManager.ts
  server/routes/authRoutes.ts
  server/routes/fixStandingsCompletely.ts
  server/routes/index.ts
  server/routes/injuryStaminaRoutes.ts
  server/routes/lateSignupRoutes.ts
  server/routes/leagueMatchesRoutes.ts
  server/routes/matchRoutes.ts
  server/routes/ndaRoutes.ts
  server/routes/notificationRoutes.ts
  server/routes/paymentRoutes.ts
  server/routes/seasonalFlowRoutes.ts
  server/routes/stadiumRoutes.ts
  server/routes/tryoutRoutes.ts
  server/services/lateSignupService.ts
  server/services/playerAgingRetirementService.ts
  server/services/playerSkillsService.ts
  server/services/quickMatchSimulation.ts
  server/services/rbacService.ts
  server/services/seasonTimingAutomationService.ts
  server/services/seasonalFlowService.ts
  server/services/stadiumAtmosphereService.ts
  server/services/statsService.ts
  server/services/tournamentBracketValidator.ts
  server/services/tournamentFlowService.ts
  server/services/tournamentMatchService.ts
  server/services/tournamentRecoveryService.ts
  server/services/unifiedTournamentAutomation.ts
  server/storage/auctionStorage.ts
  server/storage/cachedUserStorage.ts
  server/storage/seasonStorage.ts
  server/utils/manualGameCreator.d.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add comprehensive automated agent system for code quality and deployment
  .github/workflows/code-quality-guardian.yml
  .github/workflows/deployment-readiness.yml
  .github/workflows/prisma-guardian.yml
  .github/workflows/typescript-guardian.yml
Due: none

Final comprehensive fixes for immediate production deployment
  .claude/settings.local.json
  package-lock.json
  package.json
  run-agent-checks.cjs
  server/index.ts
  server/routes/lateRegistrationRoutes.ts
  server/routes/lateSignupRoutes.ts
  server/routes/matchRoutes.ts
  server/routes/playerSkillsRoutes.ts
  server/routes/resetRoutes.ts
  server/routes/scoutingRoutes.ts
  server/routes/seasonRoutes.ts
  server/routes/seasonalFlowRoutes.ts
  server/routes/shareableMomentsRoutes.ts
  server/routes/stadiumAtmosphereRoutes.ts
  server/routes/superuserRoutes.ts
  server/routes/teamTrendsRoutes.ts
  server/routes/testRoutes.ts
  server/routes/tournamentStatusRoutes.ts
  server/services/agingService.ts
  server/services/awardsService.ts
  server/services/enhancedGameEconomyService.ts
  server/services/injuryStaminaService.ts
  server/services/matchStateManager.ts
  server/services/notificationService.ts
  server/services/playerAgingRetirementService.ts
  server/services/playerSkillsService.ts
  server/services/seasonTimingAutomationService.ts
  server/services/stadiumAtmosphereService.ts
  server/services/statsService.ts
  types/express/index.d.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix critical server compilation errors for deployment readiness
  server/index.ts
  server/routes/superuserRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

CRITICAL FIX: Remove Windows-specific Rollup dependency breaking Docker builds
  package-lock.json
  package.json
Due: prettier --write

RESOLVE: Add Linux Rollup binary for Docker build compatibility
  package-lock.json
  package.json
Due: prettier --write

Fix TypeScript build errors for GCP deployment - Allow build to continue despite TS errors
  Dockerfile.step7-unified-fixed
  cloudbuild-deployment.yaml
  deploy-fixed.bat
  deploy-to-gcp.bat
  deploy-to-gcp.sh
  package.json
  setup-auto-deploy.sh
Due: prettier --write

Add claude settings
  .claude/settings.local.json
Due: prettier --write

CRITICAL FIX: Use correct server entry point dist/server/index.js instead of non-existent server-step7-unified.js
  Dockerfile.step7-unified-fixed
Due: none

ENVIRONMENT CONFIG: Proper dev/prod port separation
  server/health.ts
  server/index-cloudrun-optimized.ts
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

CRITICAL DEPLOYMENT FIX: Add health endpoints and non-blocking database
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

CRITICAL FIX: Restore working server-step7-unified.js configuration
  Dockerfile.step7-unified-fixed
  server-step7-unified.js
Due: prettier --write
