Repository jimmy058910/replitballgame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Cleanup Workflows
  .github/workflows/blue-green-deploy.yml
  .github/workflows/deploy-auth-server.yml
  .github/workflows/deploy-container-standard.yml
  .github/workflows/deploy-existing.yml
  .github/workflows/deploy-express-database.yml
  .github/workflows/deploy-express-minimal.yml
  .github/workflows/deploy-frontend-auth.yml
  .github/workflows/deploy-full-server.yml
  .github/workflows/deploy-production-optimized.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-simple-database.yml
  .github/workflows/deploy-simple.yml
  .github/workflows/deploy-step4-fullstack.yml
  .github/workflows/deploy-step5-realtime.yml
  .github/workflows/deploy-step5-websocket.yml
  .github/workflows/deploy-step6-api-routes.yml
  .github/workflows/deploy-step6-integration.yml
  .github/workflows/frontend-only.yml
  .github/workflows/hybrid-deploy.yml
  .github/workflows/minimal-backend.yml
  .github/workflows/neon-branching.yml
  .github/workflows/production-deploy.yml
  .github/workflows/test-minimal.yml
Due: none

Organize project files and improve workflow configurations
  README-ORGANIZATION.md
  archive/replit-archive.md
  archive/validate-nuclear-fix.js
  deployment/debug-github-workflow.md
  deployment/deploy-express-minimal.yml
  deployment/deploy-minimal.yml
  deployment/fix-step5-deployment.md
  deployment/step5-docker-fix.md
  scripts/fix-imports.cjs
  scripts/switch-traffic-to-new-revision.sh
  scripts/trigger-step5-deployment.sh
  scripts/verify-deployment.sh
  scripts/vitest.config.ts
  temp/temp_comprehensive_deployment_analysis.txt
  temp/temp_deploy_trigger.txt
  temp/temp_deployment_debug_commands.txt
  temp/temp_deployment_fix_summary.txt
  temp/temp_deployment_timeout_analysis.txt
  temp/temp_deployment_trigger_comprehensive_fix.txt
  temp/temp_deployment_trigger_fix.txt
  temp/temp_docker_user_fix.txt
  temp/temp_final_fix_summary.txt
  temp/temp_final_secret_manager_fix.txt
  temp/temp_gcp_logs_access.txt
  temp/temp_git_trigger.txt
  temp/temp_iam_fix_trigger.txt
  temp/temp_nuclear_container_debug.txt
  temp/temp_secret_fix_analysis.txt
  temp/temp_suppress.txt
  temp/temp_verified_secret_mapping.txt
  tests/test-cloud-run-environment.js
  tests/test-container-local.sh
  tests/test-database-real.js
  tests/test-docker.env
  tests/test-proper-database-init.js
  tests/test-realtime-step5.html
  tests/test-secrets-functionality.js
  tests/test-step7-unified.js
  tests/test-websocket-step5.html
  verify-deployment.sh
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Document a comprehensive cloud strategy using many Google services
  docs/GCP_COMPREHENSIVE_TECH_STACK.md
  replit.md
Due: prettier --write

Improve access to help content and enable development login
  server-step7-unified.js
Due: prettier --write

Add Firebase configuration and fallback help route to deployment
  .github/workflows/deploy-step7-unified.yml
  Dockerfile.step7-unified
  server-step7-unified.js
Due: prettier --write

Enable development login to test user authentication flows
  client/src/providers/DevAuthProvider.tsx
  client/src/services/DevAuthService.ts
  server-step7-unified.js
  server/routes/authRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Ensure API routes load before web server content
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve authentication by fixing routing and enhancing development settings Fixes critical API routing issues and optimizes rate limiting for a smoother development experience.
  replit.md
  server/index.ts
  server/routes/authRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Enable development mode authentication and mock user data
  server/googleAuth.ts
  server/routes/authRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update authentication method and database access for consistency
  server/routes/playerRoutes.ts
  server/routes/teamRoutes.ts
  server/storage/index.ts
  server/storage/playerStorage.ts
  server/storage/teamFinancesStorage.ts
  server/storage/teamStorage.ts
  server/storage/userStorage.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix button that redirects to homepage in development
  replit.md
  server/routes/authRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Unify authentication and database access for all environments
  .replit
  client/src/App.tsx
  client/src/hooks/useUnifiedAuth.ts
  replit.md
  server/database.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix authentication to correctly redirect users to sign in
  client/src/pages/Landing.tsx
  client/src/providers/AuthProvider.tsx
  replit.md
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve authentication by adding a development fallback option
  client/src/providers/AuthProvider.tsx
  server/routes/authRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update Google login to support development environments correctly
  server/googleAuth.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Document distinct configurations for development and production environments
  docs/DEPLOYMENT_CHECKLIST.md
  replit.md
Due: prettier --write

Improve database connection reliability for development environments
  docs/DEPLOYMENT_CHECKLIST.md
  server/database.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Set up database tables for user profiles and sessions
  package-lock.json
  package.json
  server/initDatabase.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Remove Drizzle ORM and update documentation to use Prisma exclusively
  docs/DEPLOYMENT_CHECKLIST.md
  package-lock.json
  package.json
  replit.md
  server/createTables.ts
  server/initDatabase.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Ensure database connections are properly established for user authentication
  server/createTables.ts
  server/db.ts
  server/domains/auth/service.ts
  server/initDatabase.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update database connection logic across the application
  server/routes/leagueRoutes.ts
  server/routes/matchRoutes.ts
  server/services/advancedTacticalEffectsService.ts
  server/services/comprehensivePlayerProgressionService.ts
  server/services/enhancedGameEconomyService.ts
  server/services/liveMatchEngine.ts
  server/services/notificationService.ts
  server/services/stadiumAtmosphereService.ts
  server/services/teamNameValidation.ts
  server/services/tournamentBracketValidator.ts
  server/services/tournamentFlowService.ts
  server/services/webSocketService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update Firebase authorization for development domain
  replit.md
Due: prettier --write

Improve authentication by checking server status before Firebase
  client/src/providers/AuthProvider.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add endpoint to check user authentication status and profile
  server/index.ts
  server/routes/authRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Make team creation fully operational and fix authentication
  replit.md
  server/routes/teamRoutes.ts
  server/services/teamNameValidation.ts
  server/storage/userStorage.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve team name validation by relaxing profanity filter restrictions
  replit.md
  server/routes/teamRoutes.ts
  server/services/camaraderieService.ts
  server/services/teamNameValidation.ts
  server/storage/teamStorage.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add an alternative Google login route for authentication
  server/routes/authRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update database connection logic to simplify configurations
  server/database.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Align development database access for consistency
  replit.md
  server/database.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Adapt database connection for development and testing
  prisma/generated/client/edge.js
  prisma/generated/client/index.js
  server/database.ts
  server/routes/authRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update database access for development environment
  replit.md
Due: prettier --write

Implement Cloud SQL Auth Proxy for secure and reliable database connections
  .replit
  replit.md
  scripts/start-cloud-sql-proxy.sh
  server/database.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Deploy platform to production and confirm successful operation
  replit.md
Due: prettier --write

Ensure the application's backend service is accessible
  replit.md
Due: prettier --write

Configure environment-specific API routing for development and production
  client/src/lib/apiConfig.ts
  client/src/lib/queryClient.ts
  replit.md
  scripts/ensure-dev-database.sh
  server/database.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Adopt industry-standard Cloud SQL Auth Proxy for stable development connectivity
  replit.md
  server/database.ts
  server/middleware/proxyManager.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update documentation to emphasize project communication and problem-solving
  replit.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npx tsc --noEmit --skipLibCheck: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
