Repository jimmy058910/replitballgame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "npx tsc --noEmit --skipLibCheck"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": [
    "prettier --write"
  ]
}

Ensure the game day advances correctly respecting specific time boundaries
  server/services/seasonTimingAutomationService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Allow admins to manually set the current game day
  server/routes/correctStandingsRoutes.ts
  server/routes/superuserRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update automated dependency checks and code scanning setup
  .github/dependabot.yml
  .github/workflows/review.yml
Due: none

Unify league record display across the platform
  client/src/components/ComprehensiveCompetitionCenter.tsx
  client/src/pages/Competition.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update team data to include draws and calculate standings
  client/src/components/DramaticTeamHQ.tsx
  server/routes/correctStandingsRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Adjust calculation for team draws in league records
  client/src/components/ComprehensiveCompetitionCenter.tsx
  client/src/components/DramaticTeamHQ.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update team records to correctly calculate draws
  client/src/components/ComprehensiveCompetitionCenter.tsx
  client/src/pages/CommandCenter.tsx
  client/src/pages/Competition.tsx
  client/src/pages/World.tsx
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Correctly calculate draws for a user's team to match game results
  server/routes/teamRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve accuracy of league standings by fixing draw calculations
  server/routes/teamRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve automated code review workflows for security scans
  .github/workflows/review.yml
Due: none

Include documentation and configuration files in analysis
  .in-memoria/config.json
Due: prettier --write

Improve automated dependency updates and test reporting
  .github/dependabot.yml
  gcp-dependency-test-results.json
Due: prettier --write

Adjust scheduled tasks for improved efficiency and timely updates
  cloud-scheduler-setup.sh
Due: none

Update project configuration with user and repository details
  cloud-scheduler-setup.sh
  cloudbuild-dependency-update.yaml
  scripts/test-gcp-dependency-system.cjs
Due: none

Update finances display and calculation logic for accuracy
  client/src/components/EnhancedFinancesTab.tsx
  server/routes/teamRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Integrate Google Cloud services for automated dependency and security management
  cloud-scheduler-setup.sh
  cloudbuild-dependency-update.yaml
  gcp-dependency-test-results.json
  scripts/create-production-user.js
  scripts/dependency-analyzer.js
  scripts/final-merge-validation.js
  scripts/github-pr-creator.js
  scripts/migrate-data.js
  scripts/reset-and-schedule.js
  scripts/security-scanner.js
  scripts/test-gcp-dependency-system.cjs
  scripts/validate-jules-improvements.js
Due: prettier --write

Correctly calculate staff salaries based on their levels
  server/routes/teamRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add in-memoria database for efficient data handling and analysis
  .gitignore
  .in-memoria/config.json
  package-lock.json
  package.json
Due: prettier --write

Update project dependencies to compatible versions for stability
  package-lock.json
  package.json
Due: prettier --write

Update project dependencies and configuration for styling
  package-lock.json
  package.json
  postcss.config.js
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Migrate deployment process from GitHub Actions to Google Cloud Build
  cloudbuild-deployment.yaml
  gcp-deployment-setup.sh
  test-gcp-deployment.sh
Due: none

Set up automatic deployment from Replit sync to GCP
  create_trigger.sh
  enable_services.sh
  github_integration_steps.md
  setup-github-cloud-build-integration.sh
  setup_secrets_guide.md
  test_replit_sync.sh
Due: prettier --write

Update deployment workflows for improved testing and stability
  archive/old-github-actions-deployment/deploy-express-minimal.yml
  archive/old-github-actions-deployment/deploy-minimal.yml
Due: none

Update project dependencies to improve security and stability
  package-lock.json
  package.json
Due: prettier --write

Automate checks for outdated and insecure software packages
  cloud-scheduler-setup.sh
  cloudbuild-dependency-update.yaml
  scripts/dependency-analyzer.js
Due: prettier --write

Update project name for cloud build dependency updates
  cloudbuild-dependency-update.yaml
Due: none

Update deployment configuration to correctly use build timestamps
  cloudbuild-deployment.yaml
Due: none

Update build configuration to correctly use security token
  cloudbuild-dependency-update.yaml
Due: none

Update deployment to use commit SHA instead of build timestamp
  cloudbuild-deployment.yaml
Due: none

Update deployment to correctly format build variables and keys
  cloudbuild-deployment.yaml
Due: none

Improve build script for checking service deployment status
  cloudbuild-deployment.yaml
Due: none

Update build script to use gcloud for deployment configuration
  cloudbuild-deployment.yaml
Due: none

Update styling and layout for a more consistent and appealing user interface
  client/src/index.css
  tailwind.config.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Restore proper colors for player role displays
  client/src/index.css
Due: prettier --write

Update styling and dependencies for a modern look
  client/src/index.css
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve text sizes for better readability and visual hierarchy
  client/src/index.css
Due: prettier --write

Update standings to accurately reflect game outcomes
  server/routes/correctStandingsRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update league standings to accurately reflect games played
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Correct game counts for teams by removing excess completed matches
  server/routes/correctStandingsRoutes.ts
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve game count accuracy for team standings and debug logging
  server/routes/leagueRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write
