Repository jimmy058910/replitballgame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update deployment pipeline for automatic production pushes
  .github/workflows/blue-green-deploy.yml
  PRODUCTION_DEPLOYMENT_GUIDE.md
  scripts/test-production-build.sh
Due: prettier --write

Update production deployment to correctly reference secrets
  .github/workflows/production-deploy.yml
Due: none

Update environment variable references for production deployment
  .github/workflows/production-deploy.yml
Due: none

Fix issue with accessing secrets for production deployment
  .github/workflows/production-deploy.yml
Due: none

Update deployment to correctly map cloud secrets
  .github/workflows/production-deploy.yml
  DEPLOYMENT_105_TRIGGER.md
  temp_deployment_fix_summary.txt
Due: prettier --write

Fix deployment health check by directly using the tagged URL
  .github/workflows/production-deploy.yml
  DEPLOYMENT_105_SUCCESS_ANALYSIS.md
Due: prettier --write

Improve deployment processes and align frontend with backend
  .github/workflows/frontend-only.yml
  .github/workflows/production-deploy.yml
  DEPLOYMENT_INDUSTRY_STANDARDS_ANALYSIS.md
  firebase.json
Due: prettier --write

Standardize database connection string usage across all environments
  server/database.ts
  server/db.ts
  server/health.ts
  server/routes/debug-env.ts
  server/simple-db-test.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update error monitoring and database configuration for improved stability
  server/database.ts
  server/services/sentryService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Make database connections initialize only when needed for Cloud Run
  server/database.ts
  server/db.ts
  server/health.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Document lessons learned from numerous deployment failures
  DEPLOYMENT_LESSONS_LEARNED.md
Due: prettier --write

Enhance local testing to catch deployment issues before production
  DEPLOYMENT_LESSONS_LEARNED.md
  server/db.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve application deployment by resolving module path issues
  DEPLOYMENT_LESSONS_LEARNED.md
  Dockerfile.production
Due: prettier --write

Improve database connection handling for different environments
  Dockerfile.production
  package-lock.json
  package.json
  server/database.ts
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update development database connection to use public IP
  server/database.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Configure database connections for different environments
  CLOUD_SQL_MIGRATION.md
  server/database.ts
  server/db.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Ensure error monitoring is set up correctly for the application
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Make application startup more resilient to missing environment variables
  DATABASE_URL_SECRET_FIX.md
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Make database connections and server startup more efficient
  server/database.ts
  server/db.ts
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve server startup by deferring non-essential tasks
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update project setup to correctly serve static files
  server/index.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve deployment verification script to pinpoint service misconfigurations
  verify-deployment.sh
Due: none

Fix health check by directing monitoring to the correct service
  DEPLOYMENT_105_SUCCESS_ANALYSIS.md
Due: prettier --write

Fix deployment by correcting secret names and project references
  .github/workflows/production-deploy.yml
  temp_secret_fix_analysis.txt
Due: none

Update secret management to use consistent naming for production deployments
  .github/workflows/production-deploy.yml
  SECRET_MAPPING_REFERENCE.md
Due: prettier --write

Align deployment secrets with Google Cloud Secret Manager naming conventions
  .github/workflows/production-deploy.yml
  SECRET_MAPPING_REFERENCE.md
Due: prettier --write

Update deployment to correctly reference secrets using project number
  .github/workflows/production-deploy.yml
  SECRET_MAPPING_REFERENCE.md
Due: prettier --write

Ensure deployment secrets use correct lowercase format for cloud
  .github/workflows/production-deploy.yml
  SECRET_MAPPING_REFERENCE.md
Due: prettier --write

Optimize server startup for Cloud Run deployment Optimize server startup for Cloud Run deployment by implementing immediate port binding and health checks in a new entry point script.
  Dockerfile.production
  server/index-cloudrun-optimized.ts
  start-cloudrun.sh
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Add verification for secret configuration in production deployment workflow
  .github/workflows/production-deploy.yml
Due: none

Improve application startup script for cloud deployment
  Dockerfile.production
Due: none

Ensure all necessary project files are included for deployment
  Dockerfile.production
Due: none

Improve error handling for asynchronous setup operations
  server/index-cloudrun-optimized.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update imports to use relative paths for shared modules
  server/database.ts
  server/routes/demoRoutes.ts
  server/routes/enhancedMatchRoutes.ts
  server/routes/leagueRoutes.ts
  server/routes/seasonRoutes.ts
  server/routes/stadiumRoutes.ts
  server/routes/subdivisionTestRoutes.ts
  server/routes/systemRoutes.ts
  server/routes/tournamentRoutes.ts
  server/services/dailyPlayerProgressionService.ts
  server/services/leagueService.ts
  server/services/playerSkillsService.ts
  server/services/seasonTimingAutomationService.ts
  server/services/seasonalFlowService.ts
  server/websocket/webSocketManager.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Address type errors in several server files
  fix-types.sh
  server/domains/economy/service.ts
  server/domains/tournaments/service.ts
  server/routes/dailyTournamentRoutes.ts
  server/routes/enhancedMarketplaceRoutes.ts
  server/routes/enhancedMatchRoutes.ts
  server/routes/injuryStaminaRoutes.ts
  server/routes/leagueRoutes.ts
  server/routes/matchRoutes.ts
  server/routes/ndaRoutes.ts
  server/routes/newTournamentRoutes.ts
  server/routes/seasonRoutes.ts
  server/routes/teamRoutes_backup.ts
  server/routes/tournamentFixRoutes.ts
  server/routes/tournamentHistoryRoutes.ts
  server/routes/tournamentRoutes.ts
  server/routes/tournamentStatusRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Update module imports to use file extensions for clarity
  server/googleAuth.ts
  server/routes/matchRoutes.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Improve deployment reliability and code module resolution
  .github/workflows/production-deploy.yml
  fix_imports_comprehensive.sh
  replit.md
  server/replitAuth.ts
  server/routes/marketplaceRoutes.ts
  tsconfig.server.json
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npx tsc --noEmit --skipLibCheck: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
