Repository jimmy058910/replitballgame: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

Fix vulnerability scanning CLI syntax errors in Cloud Build
  cloudbuild-deployment.yaml
Due: none

AGENTS FIX: Align all 4 GitHub Actions agents with production build behavior
  .github/workflows/code-quality-guardian.yml
  .github/workflows/deployment-readiness.yml
  .github/workflows/prisma-guardian.yml
  .github/workflows/typescript-guardian.yml
Due: none

TEST: Add test file to trigger all 4 agents via PR
  test-agents.md
Due: prettier --write

FIX: TypeScript Guardian Agent status logic and Prisma pattern matching
  .github/workflows/typescript-guardian.yml
Due: none

FIX: Prisma Guardian Agent DATABASE_URL and exit logic issues
  .github/workflows/prisma-guardian.yml
Due: none

FIX: Code Quality Guardian Agent - production-realistic scoring
  .github/workflows/code-quality-guardian.yml
Due: none

Fix GitHub Actions Guardian Agents to align with production build process
  .github/workflows/code-quality-guardian.yml
  .github/workflows/prisma-guardian.yml
Due: none

Enable auto-fix capabilities in Code Quality Guardian Agent
  .github/workflows/code-quality-guardian.yml
Due: none

Documentation updates and root directory cleanup (September 4th, 2025)
  .claude/settings.local.json
  CLAUDE.md
  REALM_RIVALRY_COMPLETE_DOCUMENTATION.md
  archive/cleanup-20250904-session/Dockerfile.step7-unified
  archive/cleanup-20250904-session/create_finals.sql
  archive/cleanup-20250904-session/deploy-fixed.bat
  archive/cleanup-20250904-session/deploy-to-gcp.bat
  archive/cleanup-20250904-session/deploy-to-gcp.sh
  archive/cleanup-20250904-session/fix-division7-alpha-standings.js
  archive/cleanup-20250904-session/fix-division7-standings.js
  archive/cleanup-20250904-session/fix-division7-standings.mjs
  archive/cleanup-20250904-session/manual-trigger.mjs
  archive/cleanup-20250904-session/simple-trigger.mjs
  archive/cleanup-20250904-session/trigger-autofill.mjs
  archive/cleanup-20250904-session/trigger_autofill.mjs
Due: prettier --write

Fix: Orphaned games affecting team statistics (critical bug resolution)
  CLAUDE.md
  REALM_RIVALRY_COMPLETE_DOCUMENTATION.md
  client/src/components/ComprehensiveCompetitionCenter.tsx
  development-updates-sept-2025.md
  server/routes/leagueRoutes.ts
  server/scripts/ensureUserProfiles.ts
  server/utils/teamStatisticsCalculator.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

feat: Complete MCP Integration & Development Environment Setup
  .claude/commands/README.md
  .claude/commands/UNIFIED_WORKFLOW.md
  .claude/commands/design-review.md
  .claude/commands/dev-setup-sync.md
  .claude/commands/dev-start.md
  .claude/commands/dev-status.md
  .claude/commands/dev-stop.md
  .claude/commands/primer.md
  .playwright-mcp/config.json
  .serena/.gitignore
  .serena/project.yml
  CLAUDE.md
  SESSION_LOG.md
  client/src/components/ModernStickyHeader.tsx
  client/src/utils/clientLogger.ts
  context/design-principles.md
  context/style-guide.md
  context/workflows/design-review/design-review-agent.md
  context/workflows/design-review/design-review-claude-md-snippet.md
  context/workflows/design-review/design-review-slash-command.md
  context/workflows/design-system-architect/design-system-architect-agent.md
  fix-user-profile.cjs
  package-lock.json
  package.json
  playwright.config.ts
  server/storage/teamStorage.ts
  verify-dev-environment.ps1
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

sync and start commit
  .claude/commands/dev-full-start.md
Due: prettier --write

fix: Restore stable backup workflows and fix review.yml errors
  .github/workflows/code-quality-guardian.yml
  .github/workflows/deployment-readiness.yml
  .github/workflows/prisma-guardian.yml
  .github/workflows/review.yml
  .github/workflows/typescript-guardian.yml
Due: none

workflows fix
  .claude/settings.local.json
  .in-memoria/config.json
  .mcp.json
  .serena/memories/emergency-endpoints-analysis.md
  .serena/memories/mcp-server-configuration-success.md
  .serena/memories/oakland-cougars-complexity-analysis.md
  .serena/memories/oakland-cougars-refactoring-analysis.md
  .serena/memories/oakland-cougars-refactoring-complete.md
  .serena/memories/oakland-cougars-refactoring-plan.md
  .serena/memories/todo-audit-critical-analysis.md
  CLAUDE.md
  SESSION_LOG.md
  prisma/schema.prisma
  server/index.ts
  server/routes/admin/emergencyRoutes.ts
  server/routes/authRoutes.ts
  server/routes/development/devRoutes.ts
  server/routes/index.ts
  server/routes/leagueRoutes.ts
  server/routes/paymentRoutes.ts
  server/services/admin/adminAuthService.ts
  server/services/development/devAuthService.ts
  server/services/development/devSeedDataService.ts
  server/services/development/oaklandCougarsDevService.ts
  server/storage.ts
  verify-dev-setup.bat
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

fix: Correct GitHub Actions syntax for secret conditionals in review.yml
  .github/workflows/review.yml
Due: none

CRITICAL: Restore missing server-step7-unified.js file for Docker deployment
  server-step7-unified.js
Due: prettier --write

security: Add comprehensive input validation to critical routes
  archive/logs9-9-25/code-quality.txt
  archive/logs9-9-25/deploy-readiness.txt
  archive/logs9-9-25/prisma-database.txt
  archive/logs9-9-25/typescript-guardian.txt
  server/middleware/validation.ts
  server/routes/consumableRoutes.ts
  server/routes/enhancedInventoryRoutes.ts
  server/routes/enhancedMarketplaceRoutes.ts
  server/storage/seasonStorage.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

docs: Complete Flutter cross-platform migration strategy documentation
  CLAUDE.md
  CONTEXT_ENGINEERING_AGENTIC_WORKFLOWS.md
  REALM_RIVALRY_COMPLETE_DOCUMENTATION.md
  SESSION_LOG.md
Due: prettier --write

LAST React
  .config/realm-rivalry-dev-key.json
  ROADMAP.md
  agenticidea/ci-cd.md
  agenticidea/googlepub.md
  agenticidea/newstack.md
  agenticidea/urls2.txt
  client/src/components/ComprehensiveCompetitionCenter/components/LeagueStandings.tsx
  client/src/components/ComprehensiveCompetitionCenter/index.tsx
  client/src/components/PlayerCard.tsx
  client/src/components/UnifiedPlayerCard.tsx
  google-doc-business-content/01-Legal-Terms-of-Service-EULA.md
  google-doc-business-content/02-Insurance-Risk-Management.md
  google-doc-business-content/03-Intellectual-Property-Guide.md
  google-doc-business-content/04-Business-Model-Revenue-Strategy.md
  google-doc-business-content/05-LLC-Operations-Business-Structure.md
  google-doc-business-content/06-Regulatory-Compliance-Age-Gating.md
  google-doc-business-content/README-Google-Doc-Organization.md
  prisma/schema.prisma
  screenshots/contract-negotiation2.png
  scripts/catch-up-games.js
  scripts/fix-stuck-games.js
  server/routes/adminCatchUpRoutes.ts
  server/routes/index.ts
  server/routes/tryoutRoutes.ts
  server/services/automation/dailyProgressionService.ts
  server/services/automation/dailyTaskAutomation.ts
  server/services/automation/matchSimulationAutomation.ts
  server/services/automation/matchSimulationService.ts
  server/services/automation/seasonProgressionAutomation.ts
  server/services/automation/timingSchedulerService.ts
  server/services/automation/tournamentAutomationService.ts
  server/services/contractService.ts
  server/services/fantasyCommentaryDatabase_backup_119prompts.ts
  server/services/playerGenerationService.ts
  server/services/quickMatchSimulation.ts
  server/services/seasonTimingAutomationService.ts
  server/services/statsService.ts
Due: eslint --fix, npx tsc --noEmit --skipLibCheck, prettier --write

final commit on this repo (moving to new one)
  .claude/settings.local.json
  COMPREHENSIVE_MIGRATION_GUIDE.md
  CONTEXT_ENGINEERING_AGENTIC_WORKFLOWS.md
  ROADMAP.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  npx tsc --noEmit --skipLibCheck: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
